.header{
  /* display: flex; */
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100vh;
  margin: 0 5%;
}

.products-header{
  display: '';
  align-items: center;
  width: 90%;
  height: 100vh;
  margin-top: 20px;
}